[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_f4transkript
name: f4transkript
description: f4transkript is an audio and video transcription program with compatible timestamps for MaxQDA
advice: 
version: 7.0.4
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktopicon
description: Generate or delete desktop icon.
default: True

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: kind-of-license
multivalue: False
editable: False
description: Defines the kind of license: "opsi-property" takes the license key from the property "licensekey", "licensepool" uses the cofinanced module of OPSI. The license pool can be specified in the property "licensepoolname" and  "testversion" installs ATLAS.ti as test version.
values: ["license-file", "licensepool", "opsi-property", "testversion"]
default: ["testversion"]

[ProductProperty]
type: unicode
name: licensekey
multivalue: False
editable: True
description: The license key for your ATLAS.ti installation. Only needed if the property "kind-of-license" is set to "licensekey".
values: ["none"]
default: ["none"]

[ProductProperty]
type: unicode
name: licensepoolname
multivalue: False
editable: True
description: The license pool name for OPSI license module. Only needed if the property "kind-of-license" is set to "licensepool".
values: [""]
default: [""]

[Changelog]
dfn_f4transkript (7.0.4-1) stable; urgency=low

Update auf 7.04, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 16 Oct 2018 16:07:23 +0000

dfn_f4transkript (7.0.3-1) stable; urgency=low

* Doppelter Aufruf der Installation korrigiert
* Update auf 7.0.2, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 18 Sep 2018 13:07:20 +0000

dfn_f4transkript (7.0.2-1) stable; urgency=low

Update auf 7.0.2, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 19 Jul 2018 13:52:03 +0000

dfn_f4transkript (6.2.5-2) stable; urgency=low

Bug fixed, Task was not killed before install so that the running program wasn't updated.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 17 Aug 2017 13:39:45 +0000

dfn_f4transkript (6.2.5-1) stable; urgency=low

 * Update auf 6.2.5

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 15 Aug 2017 11:22:33 +0000

dfn_f4transkript (6.2.4-1) stable; urgency=low

* initial: created by Eric Esser

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 18 Jul 2017 13:09:38 +0000
